.cab {
	background-color: #529ABB;
	text-align: center;
	color: white;
	font-family: arial;
}

.par1 {
text-align: center;
font-family: arial;
}

.img1 {
	align-items: center;
	text-align: center;
	font-family: arial;
}

.cab1 {
	text-align: center;
	font-family: arial;

}

.cab2 {
	background-color: #fcfcfc;
	text-align: center;
	font-family: arial;

}

.imgwork {
	display: block;
	margin: auto;
}

.cab3 {
	text-align: center;
	font-family: arial;
}

.boton1 {
	background-color: #008CBE;
	border: none;
	color: white;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 1px 1px;
	cursor: pointer;
}

.boton2 {
	background-color: #529abb;
	border: none;
	color: white;
	padding: 1px 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 1px 1px;
	cursor: pointer;
}